.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 1rem 0;
  justify-content: center;
}
.container .cont {
  width: 100%;
}
.container .header {
  display: flex;
  justify-content: center;
}
.container .header h3 {
  font-size: 2rem;
}

