.container {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 5rem;
}
.container .Image,
.points {
  position: relative;
  width: 47%;
  position: relative;
  height: 30rem;
  align-content: center;
}

.img {
  aspect-ratio: 16 / 9;
  width: 100%;
  border: 2px dashed rgb(126, 126, 126);
  position: relative;
  align-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.img:hover {
  background-color: rgb(19, 19, 19);
  border: 2px dashed rgba(255, 68, 0, 0.315);
}
.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ref {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 1rem 0;
}
.ref textarea {
  width: 100%;
  height: 1.4rem;
  align-content: center;
  padding: 0 0.5rem;
  outline: none;
  transition: all 0.3s ease-in-out;
  background: transparent;
}
.ref textarea:focus-visible {
  border: 1px solid orangered;
}
.pointsContainer {
  height: 100%;
  align-content: center;
}
.equipSelect {
  height: 10%;
  display: flex;
  gap: 1rem;
}
.taskList {
  height: 60%;
  overflow: auto;
}
.task{
  display: flex;
  margin: 1rem 0;
  align-items: center;
}
.task textarea{
  width: 100%;
    height: 10rem;
}
.taskNum {
  width: 2rem;
  height: 2rem;
  background-color: orangered;
  align-content: center;
  margin: 0 5px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.Dragon span:hover{
  background-color: rgba(255, 68, 0, 0.747);
}
.saveButton{
  height: 7%;
  display: flex;
  justify-content: start;
}